decord>=0.6.0
gradio>=4.44.0
iopath>=0.1.10
matplotlib>=3.7.0
omegaconf>=2.3.0
opencv-python==4.7.0.72
pandas==2.2.0
peft>=0.2.0
picsellia==6.18.1
scikit-image==0.22.0
sentence-transformers>=2.2.2
timm>=0.6.13
transformers>=4.30.0
visual-genome>=1.1.1
wandb>=0.16.2
webdataset>=0.2.48
tabulate
