lvis>=0.5.3
picsellia>=6.14
scipy
tensorflow==2.13.1
tensorflow-io>=0.37.1
tf-models-official>=2.13
tf-slim>=1.1.0
nvidia-cudnn-cu11
nvidia-nvtx-cu11
nvidia-cusolver-cu11
nvidia-curand-cu11
nvidia-cufft-cu11
nvidia-cuda-runtime-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvcc-cu11
