tensorflow==2.6.0
avro-python3==1.9.2.1
keras==2.6.0
ipython==7.16.1
apache-beam==2.27.0
lxml==4.6.2
matplotlib==3.3.4
Cython==0.29.21
contextlib2==0.6.0.post1
Pillow==9.2.0
tf-slim==1.1.0
six==1.15.0
pandas==1.1.5
scipy==1.4.1
lvis==0.5.3
tf-models-official==2.3.0
absl-py==0.10.0
numpy==1.19.2
pycocotools==2.0.5
picsellia==6.6.0